*{
    margin: 0%;
}
.background{
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  
background: linear-gradient(to right, #753a88, #cc2b5e); 
height: 100vh;
width: 100%;

}
.convert_field{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.header{
    color:#c7ecee;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    
}
.header:hover{
    color: white;
}
.result , .query{
    margin-top: 50px;
}
#amount , #result{
    width:300px;
}
#result,#amount{
    border-radius: 10px;
}
#logo{
    transition: 3s;
}
#logo:hover{
    transform: rotate(360deg);
}
@media only screen and (max-width: 768px){
    .convert_field{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    #logo{
        float: right;
        opacity: 0.3;
    }
    .background{
        background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    #result,#amount{
        height: 30px;
        }
        #cryptoSelect,#fiatSelect{
            color:wheat;
        }
}